header {
    display: flex;
    height: 70px;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    padding-left: 30px;
    box-sizing: border-box;
    background-color: black;
    position: relative;
}

header p:first-child {
    font-size: 36px;
    font-weight: 900;
    color: #54A0FF;
}

header p:nth-child(2) {
    font-size: 36px;
    font-weight: 900;
    color: #fff;
}

header p:nth-child(3) {
    color: #fff;
    position: absolute;
    bottom: 5px;
    margin: unset;
    font-size: 12px;
    left: 185px;
}

header div {
    position: absolute;
    right: 100px;
    color: white;
    display: flex;
    flex-direction: column;
}

header div p {
    font-size: 21px !important;
    margin: unset;
    text-align: end;
}

header button {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    margin-top: 20px;
    margin-bottom: 20px;
    right: 10px;
    height: 80%;
}