#map {
    min-width: 904.5px;
    min-height: 100%;
    flex-grow: 1;
    position: relative;
}

.marker_div {
    width: 20px;
    height: 20px;
    background-color: blue;
    border-radius: 100%;
    cursor: pointer;
    border: 5px solid black;
    z-index: 1;
    opacity: 50%;
}

.mapboxgl-marker {
    z-index: 1;
}

.FocusMarker {
    background-color: #bb0000 !important;
    z-index: 99999;
    opacity: 100%;
    width: 40px;
    height: 40px;
    margin-bottom: -12.5px;
}

.map-container {
    width: 100%;
    height: 100%;
}

.pigeon-attribution {
    display: none;
}

.mapboxgl-canvas {
    height: 100% !important;
    width: 100% !important;
}

.mapboxgl-ctrl-attrib-inner,
.mapboxgl-ctrl-logo {
    display: none !important;
}

.markerDiv {
    width: 20px;
    height: 20px;
    background-color: #bb0000;
    border-radius: 100%;
    box-shadow: 0px 1px 1px 1px #e0e0e0;
    cursor: pointer;
    display: flex;
    justify-content: center;
}

.imgMarker {
    background-size: 50px;
    width: 100px;
    position: absolute;
    top: 100%;
}